html{
	background-image: url("../img/background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 980px;
}

body{
	 font-family: 'BentonSans', Verdana, 'Lucida Sans Unicode', sans-serif;
	 color: #EDEDED;
	 background-image: url("../img/circuits.png");
	 background-repeat: no-repeat;
	 background-position: bottom left;
	 padding: 3rem;
	 display: inline-block;
}

div{
	/*border: 1px dashed #333333;*/
	display: inline-block;
	}


#button_start{
	position: fixed;
	top: 1rem;
	right: 10rem;
	border: none;
}

#button_stop{
	position: fixed;
	top: 1rem;
	right: 1rem;
	border: none;
}


#title{
	width: 100%;
	top: 0rem;
	left: 0rem;
	font-size: 3rem;
	color: #EDEDED;
	margin-bottom: 1rem;
	text-shadow: 0px -1px 0px black;
}


#container_iframe{
	width: 60%;
	height: 95%;
	min-height: 95%;
	float: left;
	border: 5px solid #758c9b;


}

iframe{
	width: 100%;
	height: 100%;
}



#container_main{
	width: 33%;
	min-height: 30rem;
	/*background-color: rgba(100, 100, 100, 0.3);*/

}





#container_marketing{
	width: 100%;
	height: 40%;
	min-height: 40%;
	min-height: 20rem;
	background-image: url("../img/connector_top.png");
	background-repeat: no-repeat;
	background-position: top left;
	padding-left: 3rem;
}


#marketing_text{
	max-width: 40rem;
	line-height: 150%;
	overflow: auto;
}


#container_virtual_twin{
	width: 100%;
	height: 30%;
	min-height: 10rem;
	overflow: hidden;
	background-image: url("../img/connector_middle.png");
	background-repeat: no-repeat;
	background-position: top left;
	padding-left: 3rem;
}

#container_twin_image{
	width: 40%;
	max-width: 60%;
	max-height: 80%;
	overflow: hidden;
	text-align: center;
	float: left;
	display: block;
}

#container_twin_image img{
	max-height: 100%;
	max-width: 100%;
}


#container_instructions{
	min-height: 20rem;
	width: 100%;
	background-image: url("../img/connector_bottom.png");
	background-repeat: no-repeat;
	background-position: top left;
	padding-left: 3rem;

}

#container_minifigure{
	width: 40%;
	min-width: 5rem;
	min-height: 15rem;
	background-image: url('../img/minifigure3.png');
	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: contain;
	float: left;
}

#container_speach{
	width: 60%;
	height: 12rem;
	padding: 1rem;
	padding-left: 2.5rem;
	line-height: 1.2rem;
	background-image: url('../img/speachbubble.png');
	background-repeat: no-repeat;
	background-size: contain;
	color: #365876;
	overflow: hidden;

	

}


/* TEXTS */


.label{
	font-weight: bold;
	margin-left: 1rem;
	width: 7rem;
	text-align: right;
	text-transform: uppercase;
}

.twindata{
	display: block;
	margin: 0.5rem;
}

.headline{
	font-size: 2rem;
	margin: 1rem;
	display: block;
	text-transform: uppercase;
}










/* SMALL SCREEN */

@media (max-width: 1280px){

	html{
		min-height: 100%;
	}

	body{
		padding: 1rem;
		font-size: 0.8rem;
		background-size: 60%;
	}

	#title{
		font-size: 2rem;
	}

	.headline{
		font-size: 1.5rem;
	}

	.label{
		width: 5rem;
	}


	#container_iframe{
		height: 92%;
		min-height: 92%;
		border-width: 3px;
	}

	#container_marketing{
		min-height: 18rem;

	}

	#container_twin_image{
	width: 30%;
	max-height: 20%;


	}

	#asset_image{
		max-height: 5rem;
	}

	#container_instructions{
	height: 20%;
	min-height: 5rem;

}

	#container_minifigure{
	min-width: 5rem;
	width: 30%;
	max-width: 30%;
	min-height: 5rem;

	}

	#container_speach{
	width: 68%;
	height: 100%;
	min-height: 5rem;
	max-height: 10rem;
	background-size: 100% 100%;
	padding: 0.6rem;
	padding-left: 1.7rem;
	line-height: 1rem;
	
	}

	
#marketing_text{
	margin: 1rem;
}