@font-face {
    font-family: BentonSans_Light;
    src: url("../fonts/bentonsans_light.woff");
}
@font-face {
    font-family: BentonSans_Regular;
    src: url("../fonts/bentonsans_regular.woff");
}
@font-face {
    font-family: BentonSans_Medium;
    src: url("../fonts/bentonsans_medium.woff");
}
@font-face {
    font-family: sap_icons;
    src: url("../fonts/sap_icons.woff");
}


html{
	background-image: url("../img/background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 980px;
}

body{
	 font-family: BentonSans_Regular, Arial, Verdana, 'Lucida Sans Unicode', sans-serif;
	 color: #EDEDED;
	 background-image: url("../img/circuits.png");
	 background-repeat: no-repeat;
	 background-position: bottom left;
	 padding: 3rem;
	 display: inline-block;
}

div{
	display: inline-block;
	}

/*

div, img{
		border: 1px dashed #333333;

}

*/

/* ------ CONTROLS -------- */

#container_navigation{
	position: absolute;
	z-index: 900;
	top: 1rem;
	right: 1rem;
	text-align: right;

}

#button_start{
	border: none;
	cursor: pointer;
}

#button_stop{
	border: none;
	cursor: pointer;
}

.icon_button{
	padding: 0.5rem;
	cursor: pointer;
	border: none;
	font-family: sap_icons;
	font-size: 1.5rem;
	color:#B1BFC7;
	text-shadow: 0px -1px 2px #333333;

/*not selectable */
 -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;  

}

.icon_button:hover{
	color: #ffffff;
	text-shadow: 0px 0px 3px #B1BFC7;

	}


#button_next{
}

#button_previous{
}

#button_reset{
}



/* ------ SCREENS -------- */


#container_iframe{
	width: 60%;
	height: 92%;
	min-height: 93%;
	text-align: center;
	float: left;
	position:relative;



}

/* If an iframe is used to display the real solution */
#container_iframe iframe{
	width: 100%;
	height: 100%;
	border: 3px solid #758c9b;

}

/* If screenshots are displayed instead of an iframe */
#container_iframe img{
	height: 100%;
	width: auto;
	border: 3px solid #758c9b;
	/*TO MAKE IMAGES OVERLAP*/
	position: absolute;
	/*POSITION CENTER*/
	margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

}



/* ------ SIDEPANEL -------- */

#container_main{
	width: 33%;
	min-height: 30rem;
	/*background-color: rgba(100, 100, 100, 0.3);*/

}




/* ------ MARKETING MESSAGE -------- */

#container_marketing{
	width: 100%;
	height: 40%;
	min-height: 40%;
	min-height: 20rem;
	background-image: url("../img/connector_top.png");
	background-repeat: no-repeat;
	background-position: top left;
	padding-left: 4rem;
}


#marketing_text{
	max-width: 40rem;
	line-height: 150%;
	overflow: auto;
}


/* ------ VIRTUAL TWIN -------- */

#container_virtual_twin{
	width: 100%;
	height: 30%;
	min-height: 10rem;
	overflow: hidden;
	background-image: url("../img/connector_middle.png");
	background-repeat: no-repeat;
	background-position: top left;
	padding-left: 4rem;
}

#container_twin_image{
	width: 40%;
	max-height: 80%;
	overflow: hidden;
	text-align: center;
	float: left;
	display: block;
	font-style: italic;
	color:#B1BFC7;
}

#container_twin_image img{
	max-height: 100%;
	max-width: 100%;
}



.twindata{
	width: 60%;
	margin-bottom: 0.5rem;
	margin-left: 40%;
	display: block;
}



/* ------ INSTRUCTIONS -------- */

#container_instructions{
	min-height: 15rem;
	width: 100%;
	background-image: url("../img/connector_bottom.png");
	background-repeat: no-repeat;
	background-position: top left;
	padding-left: 4rem;

}

#container_minifigure{
	width: 40%;
	min-width: 5rem;
	min-height: 5rem;
	max-height: 10rem;
	float: left;
	text-align: center;
}

#minifigure_image{
	max-width: 70%;
	max-height: 100%;

}

#container_speach{
	width: 60%;
	height: 10rem;
	padding: 1rem;
	padding-left: 2.5rem;
	line-height: 1.2rem;
	background-image: url('../img/speachbubble.png');
	background-repeat: no-repeat;
	background-size: contain;
	color: #365876;
	overflow: hidden;

	

}


/* ------ TEXT -------- */


#title{
	width: 100%;
	font-family: BentonSans_Light, BentonSans_Regular, Arial, Verdana, sans-serif;
	font-size: 3rem;
	color: #EDEDED;
	margin-bottom: 1rem;
	text-shadow: 0px -1px 1px #252e34;

}

.headline{
	font-size: 2rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	display: block;
	font-family: BentonSans_Light, BentonSans_Regular, Arial, Verdana, sans-serif;
	text-transform: uppercase;
	text-shadow: 1px 0px 1px #252e34;

}



.label{
	font-weight: bold;
	margin-left: 1rem;
	width: 7rem;
	text-align: right;
	text-transform: uppercase;
}

.font_medium{
	font-family: BentonSans_Medium, Arial, Verdana, sans-serif;
}
.error{
	color: #f94865;
}
.neutral{
	color: #fff;
}
.working{
	color: #44ef69;
}





/* ======================== SMALL SCREEN ======================== */

@media (max-width: 1280px){

	html{
		min-height: 100%;
	}

	body{
		padding: 1rem;
		font-size: 0.8rem;
		background-size: 60%;
	}

	/* ------ TEXT -------- */

	#title{
		font-size: 2rem;
		
	}

	.headline{
		font-size: 1.5rem;
	}

	.label{
		width: 5rem;
	}

	/* ------ SCREENS -------- */


	#container_iframe{
		height: 92%;
		min-height: 92%;
		border-width: 3px;
	}

	/* ------ MARKETING MESSAGE -------- */

	#container_marketing{
		min-height: 18rem;

	}


	/* ------ DIGITAL TWIN -------- */

	#container_twin_image{
	width: 30%;
	max-height: 20%;

	}

	.twindata{
	width: 70%;
	margin-left: 3	0%;
	}	

	#asset_image{
		max-height: 5rem;
	}

	/* ------ INSTRUCTIONS -------- */

	#container_instructions{
	height: 20%;
	min-height: 170px; /*height of the background picture */

	}

	#container_minifigure{
	min-width: 5rem;
	width: 30%;
	max-width: 30%;
	min-height: 5rem;

	}

	#container_speach{
	width: 68%;
	height: 100%;
	min-height: 5rem;
	max-height: 10rem;
	background-size: 100% 100%;
	padding: 0.6rem;
	padding-left: 1.7rem;
	line-height: 1rem;
	
	}

	
}